<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
            <li class="navbar-item"><a class="navbar-link" href="resume.html">Resume</a></li>
            <li class="navbar-item"><a class="navbar-link" href="publications.html">Publications</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
        </ul>
        <ul class="navbar-list u-pull-right">
            {% if session.user_username is defined %}
                <li class="navbar-item"><a class="navbar-link" href="/logout">Logout</a></li>
            {% else %}
                <li class="navbar-item"><a class="navbar-link" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>